.hidden-box {
    animation: fade 0.3s ease-in-out forwards; /* duration 1s, smooth easing, keep final state */
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
